					
	div.modal#results-modal(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(data-dismiss="modal")
					h2.modal-title Congratulations on your new celebrity crush!
			div.modal-body
				h2#match
				h2#matchURL
				h2#matchImage
			div.modal-footer
				button.btn.btn-success.btn-lg(data-dismiss="modal") Close
